.TweetBox-inputbox {
  width: 40%;
  height: 5em;
  display: block;
  border: #d3d3d3 solid 0.1em;
  border-radius: 1em;
  margin:0 auto;
  background-color:white;
  font-size: 1em;
  padding: 5px;
}

.TweetBox-tweetbutton {
  padding: 0.5em;
  font-size: 1em;
  display: block;
  color: white;
  margin: 0 auto;
  margin-top: 0.6em;
  margin-bottom: 1em;
  background-color: #1DA1F2;
}

@media screen and (max-width: 720px) {
  .TweetBox-inputbox {
    width: 80%; 
  }
}